@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

header {
    background: linear-gradient(rgba(42, 42, 46, .75), rgba(42, 42, 46, .7)), url('../images/computer-1245714_1920.jpg');
    background-size: cover;
    height: 100vh;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #fff !important;
}

.nav-link:hover {
    color: #fac921 !important;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #fac921 !important;
}

/* .active .nav-link {
    color: #fac921 !important;
    border-bottom: solid 3px #fac921;
} */

.header-content {
    font-family: 'Poppins', sans-serif !important;
    color: #fff !important;
    font-weight: 600 !important;
    /* height: 100%; */
    padding-left: 25%;
}

.header-content .my-text {
    border-left: solid 8px #fac921;
}

.header-content .profesion {
    color: #fac921 !important;
}

.header-content a {
    background: #fac921 !important;
    color: #261e00 !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600;
    width: 160px;
}

.social-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 64px;
    background: rgba(42, 42, 46, .8);
    color: #fff;
}

.social-sidebar svg {
    fill: white;
    width: 36px;
    height: 36px;
}

.social-sidebar svg:hover {
    fill: #fac921;
}

.section-title {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600;
    color: #2a2a2e;
}

.section-title span {
    border-bottom: solid 4px #fac921;
    font-size: 2rem;
}

#about, #contact {
    font-family: 'Montserrat', sans-serif !important;
    color: #2a2a2e;
}

#about .image-perfil {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    background-image: url('../images/yo.jpg');
    background-size: cover;
    filter: grayscale(60%);
}

#about .image-perfil:hover {
    filter: grayscale(0%);
}

#about p {
    font-size: 1.5rem;
    line-height: 3rem;
}

#about .name {
    font-size: 1rem;
    font-weight: 600;
}

#about svg {
    width: 120px;
    height: 120px;
    fill: #fac921;
}

#about .item h5 {
    color: #fac921 !important;
    font-weight: 600;
}

#about .item p {
    color: #2a2a2e !important;
    font-size: 1rem;
    line-height: 2rem;
}

.btn-enviar {
    background: #fac921 !important;
    color: #261e00 !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600;
    width: 160px;
}

footer {
    background: #2a2a2e !important;
    color: #fff;
}

footer .developer {
    color: #fac921;
}

footer ul {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    color: #fac921;
}